@import "../../../_themes.scss";

.page {
  background: radial-gradient(circle, #830000, #69001e 70%, #0f0f4c 90%, black);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $font_header;
  .report-title {
    font-family: $font_header;
    text-align: center;
    color: white;
    margin: 0;
    text-transform: uppercase;
  }
  .report-subtitle {
    font-family: $font_header;
    text-align: center;
    color: white;
    margin: 0;
  }
  .report-form {
    font-family: $font_content;
    height: 75vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .field {
      background-color: #fffafa;
      border-color: darken(#ff004d, 44%);
      color: #111169;
      &::placeholder {
        color: #111169;
        padding: 0 8px;
      }
      &:placeholder-shown {
        color: #111169;
        padding: 0 8px;
      }
    }
    .report-selector {
      font-family: $font_content;
      border-radius: 0;
      border-image: none;
      -webkit-appearance: none;
      margin: 0;
      padding: 0 16px;
      box-sizing: unset;
      color: #111169;
      border: 1px darken(#ff004d, 44%) solid;
    }
    .report-text-field {
      font-family: $font_content;
      height: 56vh;
      padding: 0 8px;
    }
    .report-button {
      @include custom_button;
    }
  }
}
